* {
    margin: 0;
}
header{
    background-color: #6666ff;
    padding: 20px;
    text-align: center;
}

h1{
    color: #1a1a1a;
}


body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}
main{
    padding: 30px;
}

.card{
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.lineInput{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    background-color: #e6e6e6;
}

button{
    margin: 5px;
    border: 0;
    border-radius: 3px;
    padding: 7px 20px;
    background-color: #6666ff;
    color: #1a1a1a;
}

button:hover{
    opacity: 0.8;
}

.content{
    margin-top: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
    border-color: #cccccc;
}

table th{
    background-color: #e3e3e3;
    border-color: #cccccc;

}

table td{
    text-align: center;
    padding: 4px 19px;
    border-color: #cccccc;
}
table tr{
    border-color: #cccccc;
}

table td img{
    width: 23px;
    padding: 3px 20px
}